<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Digital Swasthaya Card | Form</title>
	<!-- Styles -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/main.min.css">
</head>

<body class="bg-light">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
					DSC Card
				</a>
				<span>Authority Registration</span>
			</div>
		</nav>
	</header>
	<main>
		<div class="container">
			<div class="row mt-lg-2 mb-4" id="home">
				<div class="col-lg-6 mt-4 offset-lg-3">
					<div class="card shadow-sm py-4" style="background: #f4ffe9; border: none">
						<img src="/img/doctor.svg" class="card-img-top" alt="Card Holder">
						<div class="card-body">
							<form method="POST">
								<div class="form-group">
									<label for="name">Full Name</label>
									<input type="text" name="name" class="form-control" id="name">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" name="email" id="exampleInputEmail1"
										aria-describedby="emailHelp">
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with
										anyone
										else.</small>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" name="password" class="form-control" id="exampleInputPassword1">
								</div>
								<div class="form-group">
									<label for="phone">Phone Number</label>
									<input type="number" name="phone" maxlength="10" class="form-control" id="phone">
								</div>
								<div class="form-group">
									<label for="exampleFormControlFile1">Valid ID Proof</label>
									<input type="file" class="form-control-file" id="exampleFormControlFile1">
									<small id="documentHelp" name="id" class="form-text text-muted">National Id Card, Driving License,
										Passport.
										(Accepted: PDF, PNG, JPG)</small>
								</div>
								<button type="submit" class="btn btn-primary ml-auto d-block" style="width: 120px">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>