<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Digital Swasthaya Card | Home</title>
	<!-- Styles -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/main.min.css">
</head>

<body class="bg-light">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
					DSC Card
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item mx-lg-3">
							<a class="nav-link" href="/how-it-works">How it Works?</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/the-team">The Team</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="container">
			<div class="row mt-lg-5" id="home">
				<div class="col-lg-6 mt-4">
					<div class="card shadow-sm py-5" style="background: #f4ffe9; border: none">
						<img src="/img/doctor.svg" class="card-img-top" alt="Medical Authority">
						<div class="card-body text-center">
							<h3 class="card-title">Medical Authority</h3>
							<p class="card-text text-muted" style="width: 60%; margin: 0 auto">Doctors, Medical
								Institutes, Emergency
								Centers,
								Re-habiliation Centers
								etc.</p>
							<div class="mt-3 px-lg-5">
								<a href="/authority/signup" class="btn btn-block btn-primary">Register as Authority</a>
								<a href="/authority/login" class="btn btn-block btn-success">Login as Authority</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-4">
					<div class="card shadow-sm py-5" style="background: #fffee6; border: none;">
						<img src="/img/patient.svg" class="card-img-top" alt="Medical Authority">
						<div class="card-body text-center">
							<h3 class="card-title">Card Holder</h3>
							<p class="card-text text-muted" style="width: 60%; margin: 0 auto">Anyone who holds an IMC
								can access
								their secure medical data on the go.</p>
							<div class="mt-3 px-lg-5">
								<a href="/user/signup" class="btn btn-block btn-warning">Register as User</a>
								<a href="/user/login" class="btn btn-block btn-success">Login as User</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>